<%= link_to "Add Discount", new_dashboard_discount_path %>
  <% @discounts.each do |discount| %>
  <div class="discount-card" id="discount-<%= discount.id %>">
    Item: <%= discount.item.item_name %>
    Discount: <%= discount.view_percentage %>%
    Quantity threshold: <%= discount.min_quantity %>
  <% end %>
</div>
